*{
    font-family: 'Courier New', Courier, monospace;
    background-image: url(fondo.jpg);
    color: white;
    padding: 0;
}

h1 {
    width: 100%;
    text-align: center;
}

div{
    width: 1700px;
    top: 1220px;
    text-align: center;
}

input{
    margin-top: 40px;
    width: 10%;
    height: 30px;
    margin: 0.5rem;
}

.container{
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}

